<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Scholar - Online School HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-scholar.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!--

    TemplateMo 586 Scholar

    https://templatemo.com/tm-586-scholar

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <h1>Giới Thiệu</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Serach Start ***** -->
                        <div class="search-input">
                            <form id="search" action="#">
                                <input type="text" placeholder="Nhập từ khóa để tìm kiếm" id='searchText' name="searchKeyword" onkeypress="handle" />
                                <i class="fa fa-search"></i>
                            </form>
                        </div>
                        <!-- ***** Serach Start ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Trang Chủ</a></li>
                           
                            <li class="scroll-to-section"><a href="#contact">Đăng Kí/Đăng Nhập</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-banner">
                        <div class="item item-1">
                            <div class="header-text">
                                <span class="category"> Chức Năng Của Web</span>
                                <h2>Chi Tiêu Của Bạn Sẽ Được Quản Lí</h2>
                                <div class="buttons">
                                    <div class="main-button">
                                        <a href="#">Thử Ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/assets/images/service-01.png" alt="Quản Lí Trực Tuyến">
                        </div>
                        <div class="main-content">
                            <h4>Quản Lí CHi Tiêu Cá Nhân Trực Tuyến</h4>
                            <p>Bạn có thể quản lí chi tiêu của mình mọi lúc mọi nơi khi bạn cần</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/assets/images/service-02.png" alt="Chi Tiêu Tôi Ưu">
                        </div>
                        <div class="main-content">
                            <h4>Chi Tiêu Tối Ưu</h4>
                            <p>Dễ dàng kiểm soát việc chi tiêu cá nhân của mình VD: (Mua sắm, Ăn Uống,Đi chơi,...)</p>
                         
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="icon">
                            <img src="~/assets/images/service-03.png" alt="wChuyên Gia Quản Lí">
                        </div>
                        <div class="main-content">
                            <h4>Chuyên Gia Quản Lí</h4>
                            <p>Bạn cũng có thể thành chuyên gia quản lí chi tiêu cá nhân của mình. Hiện nay mọi người điều không quan trọng chi tiêu cá nhân, dựa vào đó bạn cũng có thể trở thành 1 chuyên gia.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Chúng ta sẽ bắt đầu từ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Đơn giản những chi tiêu nhỏ như bạn ăn sáng, uống cafe. Bạn chỉ cần nhập thông tin mà chúng tôi đưa ra thì bạn sẽ nắm rõ được việc chi tiêu của riêng mình
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Chúng ta sẽ bắt đầu những chi tiêu lớn hơn?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Sau khi bạn nắm rõ các bước cũng như thông tin của web, giờ đây bạn có thể bắt đầu với khoảng chi tiêu lớn hơn. Như mua nhà, mua xe, cổ phiếu hay bất kì khoảng chi tiêu nào.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Tại Sao Quản Lí Chi Tiêu Là Tốt Nhất?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Kiểm soát tài chính: Giúp bạn nắm rõ tiền đi đâu, về đâu, từ đó đưa ra quyết định chi tiêu sáng suốt và cảm thấy an tâm hơn.
                                    Đạt mục tiêu tài chính: Là nền tảng để biến các mục tiêu như mua nhà, trả nợ hay tiết kiệm thành hiện thực thông qua việc phân bổ ngân sách hợp lý.
                                    Giảm thiểu nợ nần: Giúp xác định và cắt giảm các khoản chi không cần thiết, dành tiền để trả nợ, giảm áp lực tài chính.
                                    Xây dựng quỹ khẩn cấp: Cho phép bạn tiết kiệm để đối phó với những tình huống bất ngờ như mất việc hay ốm đau, tránh phải vay mượn
                                    Phát hiện thói quen xấu: Giúp nhận ra và thay đổi những thói quen chi tiêu không hiệu quả, cải thiện hành vi tài chính.
                                    Tăng cường tiết kiệm và đầu tư: Khi chi tiêu được kiểm soát, bạn có nhiều tiền hơn để tiết kiệm và đầu tư, giúp tài sản phát triển và xây dựng sự giàu có.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Chúng Ta Có Nhận Được Sự Hỗ Trợ Tốt Nhất Không?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Điều này đương nhiên, Bạn gặp vấn đề về chi tiêu, hay lí do nào đó cho việc chi tiêu hãy liên hệ chúng tôi để được nhận giải đáp nhé!
                                    LH: 0812829928
                                    EMAIL: nguyenvuvinh1369@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h6>Giới Thiệu Về Chúng Tôi</h6>
                        <h2>Điều Gì Khiến Chúng Tôi Trở Thành Người Quản Lí Chi Tiêu Tốt Nhất?</h2>
                        <p>Để trở thành người quản lý chi tiêu tốt nhất, chúng ta cần sự kết hợp của kỷ luật cá nhân để tuân thủ ngân sách, khả năng phân tích và học hỏi để liên tục tối ưu hóa dòng tiền, tầm nhìn tài chính rõ ràng để đặt ra và theo đuổi các mục tiêu dài hạn, cùng với sự kiên nhẫn và kiên trì vì đây là một hành trình lâu dài. Những yếu tố này biến việc quản lý tiền bạc thành một kỹ năng sống mạnh mẽ, hướng tới sự tự do tài chính..</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section courses" id="courses">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h6>CHI TIÊU CÁ NHÂN</h6>
                        <h2>CHI TIÊU CÁ NHÂN</h2>
                    </div>
                </div>
            </div>
            <ul class="event_filter">
                <li>
                    <a class="is_active" href="#!" data-filter="*">Tất Cả Hình Thức</a>
                </li>
               
              
            </ul>
            <div class="row event_box">
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="~/assets/images/dulich-1.jpg.jpg" alt=""></a>
                            <span class="category">Chi Tiêu</span>
                          
                        </div>
                        <div class="down-content">
                            <span class="author">Ăn Uống</span>
                            <h4>Du lịch</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="~/assets/images/thunhap-1.jpg" alt=""></a>
                            <span class="category">Thu Nhập</span>
                         
                        </div>
                        <div class="down-content">
                            <span class="author">Đi làm</span>
                            <h4>Tiền Lương</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="~/assets/images/muaban-1.jpg" alt=""></a>
                            <span class="category">Chi Tiêu</span>
                          
                        </div>
                        <div class="down-content">
                            <span class="author">Mua Bán</span>
                            <h4>Dịch Vụ</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="~/assets/images/thunhap-2.jpg" alt=""></a>
                            <span class="category">Thu Nhập</span>
                           
                        </div>
                        <div class="down-content">
                            <span class="author">Bán Hàng</span>
                            <h4>Trực Tuyến và Trực Tiếp</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="~/assets/images/chitieu-2.jpg" alt=""></a>
                            <span class="category">Chi Tiêu</span>
                          
                        </div>
                        <div class="down-content">
                            <span class="author">Mua Sắm</span>
                            <h4>Trực Tuyến và Trực Tiếp</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
                    <div class="events_item">
                        <div class="thumb">
                            <a href="#"><img src="~/assets/images/chitieu-3.jpg" alt=""></a>
                            <span class="category">Chi Tiêu</span>
                         
                        </div>
                        <div class="down-content">
                            <span class="author">Giải Trí</span>
                            <h4>Đa Nền Tảng Khác Nhau</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="150" data-speed="1000"></h2>
                                    <p class="count-text ">Người Dùng Yêu Thích</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="24" data-speed="1000"></h2>
                                    <p class="count-text ">Giờ Trực Tuyến</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter">
                                    <h2 class="timer count-title count-number" data-to="20" data-speed="1000"></h2>
                                    <p class="count-text ">Quốc Gia Sử Dụng</p>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team section" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="~/assets/images/vuvinh-1.jpg" alt="">
                            <span class="category">Sinh Viên Full Stack</span>
                            <h4>Nguyễn Vũ Vinh</h4>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="~/assets/images/member-02.jpg" alt="">
                            <span class="category">Sinh Viên Full Stack</span>
                            <h4>Nguyễn Nhật Linh</h4>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-member">
                        <div class="main-content">
                            <img src="~/assets/images/member-03.jpg" alt="">
                            <span class="category">Sinh Viên Full Stack</span>
                            <h4>Nguyễn Võ Sơn Nam</h4>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="owl-carousel owl-testimonials">
                        <div class="item">
                            <p>
                                “Tại sao bạn nên bắt đầu sử dụng Quản Lí Chi Tiêu Cá Nhân ngay hôm nay?
                                Dễ dàng theo dõi mọi khoản chi: Dù là ly cà phê buổi sáng, hóa đơn điện nước hay khoản mua sắm lớn, mọi giao dịch của bạn đều được ghi lại và phân loại rõ ràng. Bạn sẽ có cái nhìn tổng quan chính xác về nơi tiền của mình đang được chi tiêu.
                                Lập ngân sách thông minh: Quản Lí Chi Tiêu giúp bạn thiết lập ngân sách chi tiêu cho từng hạng mục một cách chi tiết. Điều này giúp bạn đặt ra giới hạn cho bản thân, tránh tình trạng bội chi và dần dần xây dựng thói quen tiết kiệm.
                               
                               
                            </p>
                            <div class="author">
                                <img src="~/assets/images/vuvinh-1.jpg" alt="">
                                <span class="category">Sinh Viên FullStack</span>
                                <h4>Nguyễn Vũ Vinh</h4>
                            </div>
                        </div>
                        <div class="item">
                            <p>“ Đã đến lúc nói lời tạm biệt với những lo lắng về tài chính và chào đón một tương lai ổn định hơn. Hãy truy cập ngay Quản Lí Chi Tiêu Cá Nhân hoặc tìm kiếm ứng dụng [Tên ứng dụng] trên kho ứng dụng của bạn để bắt đầu hành trình quản lý chi tiêu hiệu quả ngay hôm nay! Việc kiểm soát tài chính chưa bao giờ dễ dàng và trực quan đến thế..”</p>
                            <div class="author">
                                <img src="~/assets/images/testimonial-author.jpg" alt="">
                                <span class="category">Sinh Viên Full Stack</span>
                                <h4>Nguyễn Nhật Linh</h4>
                            </div>
                        </div>
                        <div class="item">
                            <p>
                                “ Mục tiêu tài chính trong tầm tay: Bạn đang mơ ước mua nhà, trả nợ thẻ tín dụng, hay tiết kiệm cho một chuyến du lịch trong mơ? Quản Lí Chi Tiêu sẽ giúp bạn thiết lập các mục tiêu tài chính cụ thể, theo dõi tiến độ và cung cấp những báo cáo trực quan để bạn biết mình đang tiến gần đến mục tiêu đến đâu.
                                Báo cáo và phân tích chuyên sâu: Không chỉ dừng lại ở việc ghi chép, Quản Lí Chi Tiêu còn cung cấp các báo cáo và biểu đồ phân tích chi tiết. Nhờ đó, bạn có thể dễ dàng nhận diện các thói quen chi tiêu chưa hiệu quả, tìm ra những khoản có thể cắt giảm và tối ưu hóa dòng tiền của mình.
                                An toàn và bảo mật: Với công nghệ bảo mật tiên tiến, thông tin tài chính của bạn luôn được bảo vệ an toàn tuyệt đối, giúp bạn yên tâm khi quản lý tiền bạc trực tuyến..”.”
                            </p>
                            <div class="author">
                                <img src="~/assets/images/testimonial-author.jpg" alt="">
                                <span class="category">Sinh Viên FullStack</span>
                                <h4>Nguyễn Võ Sơn Nam</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 align-self-center">
                    <div class="section-heading">
                        <h6>Lời Đánh Giá</h6>
                        <h2>Họ Đã Đưa Ra Trải Nghiệm Cá Nhân</h2>
                        <p>Bạn cũng có thể thử Web Chương Trình Quản Lí Chi Tiêu Cá Nhân, Hoàn toàn miễn phí mọi lúc mọi nơi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="contact-us section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  align-self-center">
                    <div class="section-heading">
                        <h6>Liên hệ với chúng tôi</h6>
                        <h2>Hãy Liên Hệ Với Chúng Tôi Bất Cứ Lúc Nào</h2>
                        <p>Cảm ơn bản đã sử dụng dịch vụ trang web Quản Lí Chi Tiêu Cá Nhân Của Chúng Tôi và hãy giới thiệu đến mọi người nhé nếu nó thật sự tốt.</p>
                        <div class="special-offer">
                            <span class="offer">Miễn Phí<br><em></em></span>
                            <h6>Bắt Đầu Từ: <em>27/07/2025</em></h6>
                            <h4>Đăng Kí Ngay Để Được Sử Dụng <em>50%</em> Giảm giá!</h4>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-us-content">
                        <form id="contact-form" action="" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="name" name="name" id="name" placeholder="Họ và Tên" autocomplete="on" required>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <input type="text" name="email" id="email" pattern="[^ @@]*@@[^ @@]*" placeholder="Địa chỉ Email của bạn" required />
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" id="message" placeholder="Tin nhắn của bạn"></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="orange-button">Gửi Tin Nhắn Ngay</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2025 Scholar Organization. All rights reserved. &nbsp;&nbsp;&nbsp; Design: <a href="https://templatemo.com" rel="nofollow" target="_blank">TemplateMo</a></p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/counter.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>
</html>